/* 
    Created on : 8-Feb-2014, 1:29:57 PM
    Author     : James Hong
*/

/*============================================ */

/* - - - - - - - - - SIDEBAR - - - - - - - - - */

.sidebar-module
{
    border: 1px solid #e0a762;
    width: 230px;
    padding-left: 35px;
}

.sidebar-module section
{
    border: 1px solid #f89321;
    height: 35px;   
}

.module-sub-panel-img
{
    min-width: 65px;
    border: 1px solid #e0a762;


}

.module-sub-panel-text
{
    padding: 10px 0px;
}